<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{files.0.name}}</title>
  <link rel="stylesheet" href="https://stackedit.cn/style.css" />
  <style type="text/css">
    {{{files.0.content.themeStyleContent}}}
  </style>
</head>

{{#if pdf}}
<body class="stackedit stackedit--pdf">
{{else}}
<body class="stackedit">
{{/if}}
  <div class="stackedit__html">
    <div class="{{{files.0.content.themeClass}}}">
      {{{files.0.content.html}}}
    </div>
  </div>
</body>

</html>
